{% extends 'calculator/base.html' %}

{% block content %}
<div class="content-main">
  <div class="item-box">
    <div class="item-header-box">
      <p>Dysza {{ nozzle.diameter }}
       profil {{ nozzle.profile }}
      {{ ratio }}D {{ type_name }}
      {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
      {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
      {{ nozzle.theoretical_weight }}kg</p>
    </div>
    <div class="item-details">
      <div class="button-box">
        <a href="{% url 'calculator:nozzle_details' nozzle.id %}"><button class="cancel-btn">Wróć</button></a>
        <a href="{% url 'calculator:add_nozzle_calculation' nozzle_id=nozzle.id %}"><button class="add-btn">Dodaj kalkulację</button></a>
      </div>
      <div class="item-details-table">
        <table>
          <thead>
            <tr>
              <th style="width: 6em;">Nr kalkulacji</th>
              <th>Data utworzenia</th>
              <th style="width: 6em;">Godziny podstawowe</th>
              <th style="width: 6em;">Godziny dodatkowe</th>
              <th></th>
            </tr>
          </thead>
          {% for calculation in calculations%}
          <tr>
            <td>{{ calculation.id }}</td>
            {% load i18n %}
            {% language 'pl' %}
            <td>{{ calculation.date_created|date:"d M Y" }}</td>
            {% endlanguage %}
            <td>{{ calculation.total_hours }}</td>
            {% if calculation.total_additional_hours %}
              <td>{{ calculation.total_additional_hours }}</td>
            {% else %}
              <td>&nbsp -</td>
            {% endif %}
            <td><a href="{% url 'calculator:nozzle_calculation_details' calculation.id %}"><button class="show-btn">Pokaż</button></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}