{% extends 'calculator/base.html' %}

{% block content %}
<div class="content-main">
  <div class="item-box wide-box">
    <div class="item-header-box">
      <p>Szczegóły kalkulacji dla dyszy {{ nozzle.diameter }}
       profil {{ nozzle.profile }}
      {{ ratio }}D,
      {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
      {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
      {{ nozzle.theoretical_weight }}kg</p>
    </div>
    <div class="item-details">
      <div class="item-details-table">
        <table style="width: 660px">
          <thead>
            <tr>
              <th colspan="4" style="text-align: center; background-color: black;">
                Podsumowanie
              </th>
            </tr>
            <tr>
              <th style="width: 9em;">Nazwa</th>
              <th style="width: 3em;">Ilość godzin</th>
              <th style="width: 9em;">Nazwa</th>
              <th style="width: 3em;">Ilość kg</th>
            </tr>
          </thead>
            <tr>
              <td>Suma wszystkich podstawowych godzin</td>
              <td>{{ total_hours }}</td>
              <td>Drut zwykły</td>
              <td>Dodać i przekazać wartość</td>
            </tr>
            <tr>
              <td>Suma wszystkich dodatkowych godzin</td>
              {% if additional_hours.total_hours == None %}
                <td>&nbsp; - </td>
              {% else %}
                <td>{{ additional_hours.total_hours }} </td>
              {% endif %}
              <td>Drut nierdzewny</td>
              <td>Dodać i przekazać wartość</td>
            </tr>
            <tr></tr>
            <tr> {{ total_assembly_hours }}</tr>
            <tr> {{ total_welding_hours }}</tr>
            <tr> {{ total_small_machining_hours }}</tr>
            <tr> {{ total_medium_machining_hours }}</tr>
            <tr> {{ total_tos_machining_hours }}</tr>
        </table>
      </div>

      <div class="item-details-table">
        <table style="width: 660px">
          <thead>
            <tr>
              <th colspan="3" style="text-align: center; background-color: black;">
                Szczegóły
              </th>
            </tr>
            <tr>
              <th>Nazwa operacji</th>
              <th>Ilość godzin</th>
              <th style="width: 10em;">Uwagi</th>
            </tr>
          </thead>
          <tr>
            <td>Montaż zwijki</td>
            <td>Dodać i przekazać wartość</td>
            <td>Dodać i przekazać wartość (jeżeli jest)</td>
          </tr>
          <tr>
            <td>Montaż ...</td>
            <td>Dodać i przekazać wartość</td>
            <td>Dodać i przekazać wartość (jeżeli jest)</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}