{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<div class="content-main">
  <div class="item-box">
    <div class="item-header-box">
      Filtrowanie
    </div>
    <form method="get">
    <div class="item-details">
      <div class="item-details-box">
        <div>Średnica:</div>
        <div id="diameter_input">{{ nozzle_filter.form.diameter }}</div>
      </div>
      <div class="item-details-box">
        <div>Profil:</div>
        <div id="profile_input">{{ nozzle_filter.form.profile }}</div>
      </div>
      <div class="item-details-box">
        <div>Numer rysunku:</div>
        <div id="drawing_input">{{ nozzle_filter.form.drawing_number }}</div>
      </div>
      <div class="item-details-box">
        <div>Wysokość:</div>
        <div id="profile_height_input">{{ nozzle_filter.form.profile_height }}</div>
      </div>
      <div class="item-details-box">
        <div>Pierścień wewnętrzny:</div>
        <div id="inner_ring_type_input">{{ nozzle_filter.form.inner_ring_type }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość pierścienia kawitacyjnego:</div>
        <div id="inner_ring_thickness_propeller_zone_input">{{ nozzle_filter.form.inner_ring_thickness_propeller_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość wlotu:</div>
        <div id="inner_ring_thicknes_inlet_zone_input">{{ nozzle_filter.form.inner_ring_thickness_inlet_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość wylotu:</div>
        <div id="inner_ring_thickness_outlet_zone_input">{{ nozzle_filter.form.inner_ring_thickness_outlet_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość żeber:</div>
        <div id="ribs_thickness_input">{{ nozzle_filter.form.ribs_thickness }}</div>
      </div>
      <div class="item-details-box">
        <div>Ilość żeber:</div>
        <div id="ribs_quantity_input">{{ nozzle_filter.form.ribs_quantity }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość półek:</div>
        <div id="segments_thickness_input">{{ nozzle_filter.form.segments_thickness }}</div>
      </div>
      <div class="item-details-box">
        <div>Ilość półek:</div>
        <div id="segments_quantity_input">{{ nozzle_filter.form.segments_quantity }}</div>
      </div>
      <div class="item-details-box">
        <div>Dysza ze skrzynią?</div>
        <div id="has_headbox_input">{{ nozzle_filter.form.has_headbox }}</div>
      </div>
      <div class="item-details-box">
        <div>Dysza z pierścieniem wylotowym?</div>
        <div id="has_outlet_ring_input">{{ nozzle_filter.form.has_outlet_ring }}</div>
      </div>
      <div class="button-box">
        <div>
          <form method="get" id="nozzle_form">
            <button class="edit-btn" type="submit">Szukaj</button>
          </form>
        </div>
        <button class="action-btn" onclick="resetForm()">Resetuj</button>
      </div>
    </div>
  </div>
  <div class="content-main">
    <div class="item-box">
      <div class="item-header-box">Wyniki</div>
      <div class="item-details">
        {% if nozzles_count == 0 %}
        <div class="item-details-box">Wybierz kryteria wyszukiwania aby wyświetlić wyniki</div>
        {% endif %}
        {% for nozzle in nozzles %}
        <div class="item-details-box">
          <p class="description">Dysza {{ nozzle.diameter }}
           profil {{ nozzle.profile }} H={{ nozzle.profile_height }}mm {{ type_name }},
            {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
            {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
            {{ nozzle.theoretical_weight }}kg</p>
          <a href="{% url 'calculator:nozzle_details' nozzle.id %}">
            <button type="button" class="show-btn">Pokaż</button>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>




{% endblock content %}