{% extends 'calculator/base.html' %}

{% block content %}
<div class="content-main">
  <div class="item-box">
    <div class="item-header-box">
      <p>Dysza {{ nozzle.diameter }}
       profil {{ nozzle.profile }}
      {{ ratio }}D {{ type_name }}
      {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
      {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
      {{ nozzle.theoretical_weight }}kg</p>
    </div>
    <div class="item-details">
      <div class="button-box">
        <a href="{% url 'calculator:add_nozzle_order' nozzle.id %}"><button class="add-btn">Dodaj nowe zamówienie</button></a>
      </div>
      <div class="item-details-table">
        <table>
          <tr>
            <th>Numer zlecenia DMCG</th>
            <th>Numer zlecenia klienta</th>
            <th>Data dodania</th>
            <th></th>
          </tr>
          {% for order in orders %}
          <tr>
            <td>{{ order.order_dmcg_number }}</td>
            <td>{{ order.order_client_number }}</td>
            {% load i18n %}
            {% language 'pl' %}
            <td>{{ order.date_created|date:"d M Y" }}</td>
            {% endlanguage %}
            <td><button class="show-btn">Edytuj</button></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}