{% extends 'calculator/base.html' %}

{% block content %}
<div class="content-main">
  <div class="item-box">
    <div class="item-header-box">
      <p>Szczegóły kalkulacji dla dyszy {{ nozzle.diameter }}
       profil {{ nozzle.profile }}
      {{ ratio }}D,
      {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
      {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
      {{ nozzle.theoretical_weight }}kg</p>
    </div>
    <div class="item-details">
      <div class="button-box">
        <a href="{% url 'calculator:nozzle_calculations' nozzle.id %}"><button class="cancel-btn">Wróć</button></a>      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Suma godzin podstawowych:</p>
        <p class="item-detail-value">{{ total_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Suma godzin dodatkowych:</p>
        {% if additional_hours.total_hours == None %}
        <p class="item-detail-value">0</p>
        {% else %}
        <p class="item-detail-value">{{ additional_hours.total_hours }}</p>
        {% endif %}
      </div>

      <hr>

      <div class="item-details-box">
        <p class="item-detail-name">Razem</p>
        <p class="item-detail-value" style="color:red;">{{ sum_of_all_hours }}</p>
      </div>

      <hr>

      <div class="item-details-box">
        <p class="item-detail-name">Montaż:</p>
        <p class="item-detail-value">{{ all_assembly_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Spawanie:</p>
        <p class="item-detail-value">{{ all_welding_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Wyoblanie:</p>
        <p class="item-detail-value">{{ all_spinning_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Obróbka lekka:</p>
        <p class="item-detail-value">{{ all_small_machining_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Obróbka średnia:</p>
        <p class="item-detail-value">{{ all_medium_machining_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Obróbka TOS:</p>
        <p class="item-detail-value">{{ all_tos_machining_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Palenie ogniowe:</p>
        <p class="item-detail-value">{{ all_cutting_plates_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Gięcie blach:</p>
        <p class="item-detail-value">{{ all_bending_hours }}</p>
      </div>
      <div class="item-details-box">
        <p class="item-detail-name">Walcowanie rur/prętów:</p>
         <p class="item-detail-value">{{ all_rolling_profiles_hours }}</p>
      </div>
    </div>
  </div>

  <div class="item-box">
    <div class="item-header-box">
      <p>Godziny dodatkowe</p>
    </div>
    <div class="item-details">

      <div class="item-details-box">
        <a href="{% url 'calculator:add_additional_nozzle_hours' nozzle.id calculation.id %}">
          <button class="add-btn" type="button">Dodaj</button>
        </a>
      </div>
      <div class="item-details-table">
        <table style="width: 48em;">
          <thead>
            <tr>
              <th style="width:6em;">Nazwa</th>
              <th style="width:6em;">Ilość godzin</th>
              <th style="width:28em;">Komentarz</th>
              <th></th>
            </tr>
          </thead>
          {% for additional_nozzle_hour in additional_nozzle_hours %}
          <tr>
            <td>{{ additional_nozzle_hour.get_group_display }}</td>
            <td>{{ additional_nozzle_hour.additional_hours_amount }}</td>
            <td>{{ additional_nozzle_hour.comment|truncatechars:170 }}</td>
            <td>
              <a href="{% url 'calculator:edit_additional_nozzle_hours' nozzle.id calculation.id additional_nozzle_hour.id %}">
                <button class="show-btn">Edytuj</button>
              </a>
            <a href="{% url 'calculator:delete_additional_nozzle_hours' nozzle.id calculation.id additional_nozzle_hour.id %}"><button class="delete-btn">Usuń</button></a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}