{% extends 'calculator/base.html' %}
{% load static %}
{% block content %}

<div class="content-main">
  <div class="item-box">
    <div class="item-header-box">
      FILTROWANIE
    </div>
    <form method="get">
    <div class="item-details">
      <div class="item-details-box">
        <div>Średnica:</div>
        <div id="diameter_input">{{ nozzle_filter.form.diameter }}</div>
      </div>
      <div class="item-details-box">
        <div>Profil:</div>
        <div id="profile_input">{{ nozzle_filter.form.profile }}</div>
      </div>
      <div class="item-details-box">
        <div>Numer rysunku:</div>
        <div id="drawing_input">{{ nozzle_filter.form.drawing_number }}</div>
      </div>
      <div class="item-details-box">
        <div>Wysokość:</div>
        <div id="profile_height_input">{{ nozzle_filter.form.profile_height }}</div>
      </div>
      <div class="item-details-box">
        <div>Pierścień wewnętrzny:</div>
        <div id="inner_ring_type_input">{{ nozzle_filter.form.inner_ring_type }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość pierścienia kawitacyjnego:</div>
        <div id="inner_ring_thickness_propeller_zone_input">{{ nozzle_filter.form.inner_ring_thickness_propeller_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość wlotu:</div>
        <div id="inner_ring_thicknes_inlet_zone_input">{{ nozzle_filter.form.inner_ring_thickness_inlet_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość wylotu:</div>
        <div id="inner_ring_thickness_outlet_zone_input">{{ nozzle_filter.form.inner_ring_thickness_outlet_zone }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość żeber:</div>
        <div id="ribs_thickness_input">{{ nozzle_filter.form.ribs_thickness }}</div>
      </div>
      <div class="item-details-box">
        <div>Ilość żeber:</div>
        <div id="ribs_quantity_input">{{ nozzle_filter.form.ribs_quantity }}</div>
      </div>
      <div class="item-details-box">
        <div>Grubość półek:</div>
        <div id="segments_thickness_input">{{ nozzle_filter.form.segments_thickness }}</div>
      </div>
      <div class="item-details-box">
        <div>Ilość półek:</div>
        <div id="segments_quantity_input">{{ nozzle_filter.form.segments_quantity }}</div>
      </div>
      <div class="item-details-box">
        <div>Dysza ze skrzynią?</div>
        <div id="has_headbox_input">{{ nozzle_filter.form.has_headbox }}</div>
      </div>
      <div class="item-details-box">
        <div>Dysza z pierścieniem wylotowym?</div>
        <div id="has_outlet_ring_input">{{ nozzle_filter.form.has_outlet_ring }}</div>
      </div>
      <div class="button-box">
        <div>
          <form method="get" id="nozzle_form">
            <button class="add-btn" type="submit">Szukaj</button>
          </form>
        </div>
        <button class="cancel-btn" onclick="resetForm()" style="width: 6em">Resetuj</button>
      </div>
    </div>
    </form>
  </div>

  <div class="item-box" style="width: 800px;">
    <div class="item-header-box">WYNIKI</div>
    <div class="item-details">
      <div class="button-box">
        <a href="{% url 'calculator:add_nozzle' %}">
          <button class="add-btn" type="button">Dodaj nową dyszę</button>
        </a>
      </div>
      {% if nozzles_count == 0 %}
      <div class="item-details-box">Wybierz kryteria wyszukiwania aby wyświetlić wyniki</div>
      {% endif %}
      <div>
        <table style="width: 750px">
          <thead>
            <tr>
              <th>Średnica</th>
              <th>Profil</th>
              <th>Wysokość</th>
              <th>Typ</th>
              <th>Grubość/ilość żeber</th>
              <th>Grubość/ilość półek</th>
              <th>Skrzynka</th>
              <th>Pierścień wylotowy</th>
              <th>Ciężar wg oferty</th>
              <th>Ciężar rzeczywisty</th>
              <th>Ilość zleceń</th>
              <th></th>
            </tr>
          </thead>
          {% for nozzle in nozzles %}
            <tr>
              <td>{{ nozzle.diameter }}</td>
              <td>{{ nozzle.profile }}</td>
              <td>{{ nozzle.profile_height }}</td>
              <td>{{ nozzle.get_inner_ring_type_display|lower }}</td>
              <td>{{ nozzle.ribs_quantity }}szt. x {{ nozzle.ribs_thickness }}mm</td>
              <td>{{ nozzle.segments_quantity }}szt. x {{ nozzle.segments_thickness }}mm</td>
              {% if nozzle.has_headbox == True %}
              <td>Tak</td>
              {% else %}
              <td>Nie</td>
              {% endif %}
              {% if nozzle.has_outlet_ring == True %}
              <td>Tak</td>
              {% else %}
              <td>Nie</td>
              {% endif %}
              <td>{{ nozzle.theoretical_weight }}kg</td>
              <td>{{ nozzle.real_weight }}kg</td>
              <td>{{ nozzle.order_count }}</td>
              <td><a href="{% url 'calculator:nozzle_details' nozzle.id %}"><button type="button" class="show-btn">Pokaż</button></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock content %}