{% extends 'calculator/base.html' %}

{% block content %}
<div class="content-main">
  <div class="item-box single-column">
    <div class="item-header-box">
      <p>Dysza {{ nozzle.diameter }}
       profil {{ nozzle.profile }}
      {{ ratio }}D {{ type_name }}
      {{ nozzle.segments_quantity}} x {{ nozzle.segments_thickness}}mm - półki,
      {{ nozzle.ribs_quantity}} x {{ nozzle.ribs_thickness}}mm - żebra,
      {{ nozzle.theoretical_weight }}kg</p>
    </div>
    <div class="item-details">
      <div class="item-details-box" style="justify-content: center">
        <a href="{% url 'calculator:add_nozzle_order' nozzle.id %}"><button class="add-btn">Dodaj nowe zamówienie</button></a>
      </div>
      <div class="item-details-box" style="justify-content: center">
        <table>
          <tr>
            <th><p class="item-detail-name">Numer zlecenia DMCG</p></th>
            <th><p class="item-detail-name">Numer zlecenia klienta</p></th>
            <th><p class="item-detail-name">Data dodania</p></th>
            <th></th>
          </tr>
          {% for order in orders %}
          <tr>
            <td><p class="item-detail-value">{{ order.order_dmcg_number }}</p></td>
            <td><p class="item-detail-value">{{ order.order_client_number }}</p></td>
            <td>
              {% load i18n %}
            {% language 'pl' %}
            <p class="item-detail-value">{{ order.date_created|date:"d M Y" }}</p>
            {% endlanguage %}
            </td>
            <td><button class="edit-btn">Edytuj</button></td>
            {% empty %}
          <td colspan="3" style="color: red;"><p>Brak powiązanych zamówień</p></td>
          </tr>


          {% endfor %}

        </table>
      </div>

    </div>
  </div>
</div>
{% endblock content %}