body {
    font-family: Arial;
    margin: 0 auto;
    padding: 0;
}

/* layout */
.content-main {
    display: flex;
    margin: 0 2em;
    width: 900px;
    justify-content: space-between;
    margin: 0 auto;
}

.item-box {
    min-width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5em;
    margin: 1em auto;
}

.single-column {
    min-width: 600px;
}

.item-header-box {
    margin: 0;
    padding-left: 1em;
    background-color: black;
    color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid black;
}

.item-details {
    padding-left: 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.item-details-box {
    display: flex;
    align-items: center;
}

/* items styles */
#details {
    text-decoration: underline;
}

.item-detail-name {
    width: 12em;
    font-weight: bold;
}

.item-detail-value {
    margin: auto 1em;
    width: 9em;
}

.action-btn {
    margin-left: 0.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.action-btn:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.add-btn {
    margin-left: 0.5em;
    background-color: limegreen;
    color: white;
    border: 1px solid limegreen;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5em;
}