body {
    font-family: Arial;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
}

table, th, td {
    /*border: 1px solid;*/
    border-collapse: collapse;
    text-align: center;

}

th, td {
    padding: 0.125em;
}

/* text style */
.alert-paragraph {
    font-size: 0.875em;
    background-color: palevioletred;
    color: darkred;
    border: 1px dotted darkred;
    border-radius: 0.125em;
    padding: 0.125em 0.250em;
    width: max-content;
}

.description {
    font-size: 0.875em;
}


/* layout */
.content-main {
    display: flex;
    margin: 0 2em;
    width: 900px;
    justify-content: space-between;
    margin: 0 auto;
}

.item-box {
    min-width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5em;
    margin: 1em auto;
}

.single-column {
    min-width: 600px;
}

.item-header-box {
    margin: 0;
    padding-left: 1em;
    background-color: black;
    color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid black;
}

.item-details {
    padding-left: 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.item-details-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 1.75em;
}

/* items styles */
#details {
    text-decoration: underline;
}

.item-detail-name {
    width: 20em;
    font-weight: bold;
    justify-content: center;
    text-align: left;
    margin: 0.5em 0.125em;
    /*margin: 0.5em;*/
}

.item-detail-value {
    margin: 0 1em;
    width: 10em;
    /*padding: 0;*/
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.125em 0.25em;
}

.action-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.action-btn:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.show-btn {
    font-size: 0.75em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    height: 1.125rem;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.show-btn:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.add-btn, .confirm-btn, .cancel-btn {
    background-color: limegreen;
    color: white;
    border: 1px solid limegreen;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5em;
    cursor: pointer;
}

.confirm-btn {
    width: 90%;
}

.cancel-btn {
    background-color: firebrick;
    border: 1px solid firebrick;
    width: 90%;
    margin-left: 0;
}


.edit-btn {
    margin: 0.5em 0.5em;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    border: 1px solid #00b4d8;
    border-radius: 0.5em;
    height: 2rem;
    width: 15rem;
}

.content-row {
    display: flex;
    flex-direction: row;
}

.wide_form {
    width: 12.75em;
}
