body {
    font-family: Roboto, Arial;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    background-color: #00b4d8;
}

table {
    width: 480px;
}

table, th, td {
    /*border: 1px solid;*/
    border-collapse: collapse;
    text-align: left;
    border-bottom: 1px solid #0077b6;
    margin-left: 0.5em;
    margin-bottom: 2em;
}

td:nth-child(2n+1) {
    background-color: #dee2e6;
}

thead {
    background-color: #0077b6;
    color: white;
    font-weight: 300;
}

thead th {
    width: 100px;
}


input:focus, select:focus {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}


th, td {
    padding: 0.125em;
}

/* text style */
.alert-paragraph {
    font-size: 1.125em;
    background-color: palevioletred;
    color: darkred;
    border: 1px dotted darkred;
    border-radius: 0.125em;
    padding: 0.125em 0.250em;
    width: max-content;
}

.description {
    font-size: 0.875em;
}


/* layout */
.content-main {
    display: flex;
    flex-direction: row;
    background-color: #00b4d8;
    justify-content: space-between;
    align-items: flex-start; /* thank to it each child have it's own height */
    margin: 0 auto;
    padding: 0 auto;
}

@media (max-width: 1000px) {
    .content-main {
        flex-direction: column;
    }
}


.item-box {
    min-width: 550px;
    display: flex;
    flex-direction: column;
    background-color:  #CAF0F8;
    border-radius: 0.5em;
    margin: 1em auto;
    padding: 0px;
}

.single-column {
    min-width: 600px;
}

.item-header-box {
    display: flex;
    margin: 0;
    padding-left: 1em;
    background-color: #0077b6;
    height: 2.5em;
    color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-left: 1px solid #0077b6;
    border-right: 1px solid #0077b6;
    border-top: 1px solid #0077b6;
    align-items: center;
}

.item-details {
    padding: 1em 1em;
    border-left: 1px solid #0077b6;
    border-right: 1px solid #0077b6;
    border-bottom: 1px solid #0077b6;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

}

.item-details-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.125em 1em;
    height: 1.75em;
}

.item-details-table {
    padding: 0.25em 0;
    margin-top: 1em;
}

.item-details-form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 300px;
}

/* items styles */
#details {
    text-decoration: underline;
}

.item-detail-name {
    width: 20em;
    font-weight: bold;
    justify-content: center;
    text-align: left;
    margin: 0.5em 0.125em;
    /*margin: 0.5em;*/
}

.item-detail-value {
    margin: 0 1em;
    width: 10em;
    /*padding: 0;*/
}

.button-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.125em 0.25em;
}

.action-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.action-btn:hover {
    background-color: #0077b6;
    color: white;
    border: 1px solid white;
}

.show-btn {
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    margin: 0.25em 0.625em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    height: 1.25rem;
    width: 8em;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.show-btn:hover {
    background-color: #0077b6;
    color: white;
    border: 1px solid white;
}

.add-btn, .confirm-btn, .cancel-btn {
    background-color: limegreen;
    color: white;
    border: 1px solid limegreen;
    border-radius: 0.5em;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.confirm-btn {
    width: 90%;
}

.cancel-btn {
    background-color: firebrick;
    border: 1px solid firebrick;
    /*width: 90%;*/
    margin-left: 0.125em;
}


.edit-btn {
    margin: 0.5em 0.5em;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    border: 1px solid #00b4d8;
    border-radius: 0.5em;
    height: 2rem;
    width: 15rem;
}

.content-row {
    display: flex;
    flex-direction: row;
}

.wide_form {
    width: 12.75em;
}
